 pipeline {
    agent any

    stages {
        stage('Hello') {
            steps {
                echo 'Hello World'
            }
        }
    }
}
[16:13, 20/01/2022] Babu Gummadidala: checkout([$class: 'GitSCM', branches: [[name: '*/master']], extensions: [], userRemoteConf
